body {
	font-family:'Karla', helvetica, arial, sans-serif;
	background: transparent;
	padding:0;
	margin:0;
	background-image: url(../img/back.png);
}
#wrapper {
	max-width:960px;
	margin:auto;
}
#wrapper > a {
	margin:10px;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4); 
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	display:block;
	color:#FFF;
	text-decoration: none;
	position:relative;
	padding:10px;
	padding-bottom:16px;
}

/* Colors based from http://ethanschoonover.com/solarized */

.a {
	background-color:#2AA198;
	text-shadow: 0px 1px 0px #186E67;
	filter: dropshadow(color=#186E67, offx=0, offy=1); 
	border:1px solid #186E67;
}
.b {
	background-color:#268BD2;
	text-shadow: 0px 1px 0px #206596;
	filter: dropshadow(color=#206596, offx=0, offy=1); 
	border:1px solid #206596;
}
.c {
	background-color:#D33682;
	text-shadow: 0px 1px 0px #911451;
	filter: dropshadow(color=#911451, offx=0, offy=1); 
	border:1px solid #911451;
}
.d {
	background-color:#DC322F;
	text-shadow: 0px 1px 0px #A81714;
	filter: dropshadow(color=#A81714, offx=0, offy=1); 
	border:1px solid #A81714;
}
.e {
	background-color:#B58900;
	text-shadow: 0px 1px 0px #6B5100;
	filter: dropshadow(color=#6B5100, offx=0, offy=1); 
	border:1px solid #6B5100;
}
.f {
	background-color:#CB4B16;
	text-shadow: 0px 1px 0px #9E370D;
	filter: dropshadow(color=#9E370D, offx=0, offy=1); 
	border:1px solid #9E370D;
}
.g {
	background-color:#6C71C4;
	text-shadow: 0px 1px 0px #4E5185;
	filter: dropshadow(color=#4E5185, offx=0, offy=1); 
	border:1px solid #4E5185;
}
.h {
	background-color:#859900;
	text-shadow: 0px 1px 0px #5D6B00;
	filter: dropshadow(color=#5D6B00, offx=0, offy=1); 
	border:1px solid #5D6B00;
}
#wrapper > a .title {
	font-size:24px;
}
#wrapper > a .by {
	font-size:10px;
	color:#FFF;
}
#wrapper > a .tags{
	margin-top:10px;
	margin-bottom:5px;
}
#wrapper > a .tags div{
	background-color: rgba(0, 0, 0, 0.4);
	color:#FFF;
	text-shadow:none;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	font-size:10px;
	margin:5px;
	margin-top:0;
	margin-left:0;
	display:inline-block;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2); 
}